.register-modal {
  width: 60vw;
  margin: 10rem auto;
}

.register-modal p {
  margin: 1rem 0 2rem;
  font-size: 1.2rem;
  font-weight: 600;
}
.register-modal div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.register-modal .names {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.register-modal input {
  width: 100%;
  padding: 0.6rem;
  border-radius: 5px;
  border: 1px solid #888;
  font-size: 1.7rem;
}

.register-modal button {
  width: 100%;
  background-color: #30e3df;
  color: white;
  border: none;
  padding: 1rem 2rem;
  cursor: pointer;
}

.register-modal .link {
  align-self: flex-start;
  color: #30e3df;
}

.register-modal input:focus {
  outline: 1px solid #30e3df;
}

.register-modal label {
  display: flex;
  align-self: flex-start;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  margin-left: 0.2rem;
}

.register-modal label p {
  font-size: 2rem;
  font-weight: 200;
  color: #666;
}

.register-modal svg {
  width: 2rem;
  cursor: pointer;
}
